discord.py
aiohttp
aiosqlite
flask
python-dotenv
PyYAML
requests
pillow
numpy
openai
duckduckgo-search==6.3.6
colorama
chess
python-dateutil
deep-translator==1.11.4
wavelink>=2.0.0
httpx
jishaku
mcstatus
psutil
pymongo
motor
gtts
langdetect
pyttsx3
